.debug {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    ---color-header: #2a5ee8;
    ---color-black: #23272a;
    ---color-white: #ffffff;
    ---color-lightgray: #f6f6f6;
    ---color-info: #7289da;
}

.flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    color: var(---color-white);
    padding:6px 10px;
}
/*header*/
header {
    background-color: var(---color-header);
    color: var(---color-white);
    font-family: 'Noto Sans', sans-serif;
}




/*main*/




/*footer*/
footer{
    background-color: var(---color-black);
    color: var(---color-white);
}