/*BASE*/
.debug {
    border: 1px solid transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(---color-black);
    font-family: 'Noto Sans', sans-serif;
}

:root {
    ---color-header: #2a5ee8;
    ---color-black: #23272a;
    ---color-white: #ffffff;
    ---color-lightgray: #f6f6f6;
    ---color-info: #7289da;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

/*HEADER-FOOTER*/
a {
    color: var(---color-white);
    padding:6px 10px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


ul {
    list-style: none;
    padding: 20px;
}

li {
    padding:5px 10px;
}

i {
    padding:5px;
}

/*BOTTONI*/
button {
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
}       
   
.btn-dark {
background-color: var(---color-black);
color: var(---color-white);
}


.btn-viola {
background-color: var(---color-info);
}

/*FONT*/
h1 {
font-size: 3em;
padding: 15px 0;
}

h2{
font-size: 2em;
padding: 10px 0;
text-align: center;
}

p {
    line-height: 1.8em;
    font-size: 1.1em;
    padding: 15px 0;
}

.text-left {
    text-align: left;
    font-size: 2.5em;
}

/*FLEX*/
.flexbase {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flexfinal {
    display: flex;
    justify-content: space-between;
}    


.flex-center {
    justify-content: center;
}

.flexmain{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexreverse {
    flex-direction: row-reverse;
}


/*HEADER*/
header {
    background-color: var(---color-header);
    color: var(---color-white);
}

#intestazione {
    background-image: url('../img/jumbo.png');
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenuto-intestazione {
    max-width: 800px;
    text-align: center;

}

#intestazione .container {
    min-height: 500px;
}



/*MAIN*/

.grigio {
    background-color: var(---color-lightgray);
}

main section {
    padding: 60px 0;
}

main img {
    width: 100%;
    max-width: 100%;
}

.section-text {
    width: 40%;
    padding: 30px 10px;
}

.section-text.last{
    width: 50%;
    padding: 0 auto;
    text-align: center;
}

.section-image {
    width: 100%;
}

.section-image.last{
    width: 100%;
    padding: 0 auto;
}


.finale h2{
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    width: 50%;
    margin: 0 auto;
    background-size: contain;
    background-position: top center;
}

.onda{
    transform:rotate(180deg)
}






/*FOOTER*/
footer{
    background-color: var(---color-black);
    color: var(---color-white);
}

.info {
    color: var(---color-info);
}

