.debug {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    ---color-header: #2a5ee8;
    ---color-black: #23272a;
    ---color-white: #ffffff;
    ---color-lightgray: #f6f6f6;
    ---color-info: #7289da;
}

.flexbase {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flexfinal {
    display: flex;
    justify-content: space-between;
}    


.flex-center {
    justify-content: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

button {
        border: none;
        padding: 10px 10px;
        border-radius: 30%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}       
       
        




/*header*/
header {
    background-color: var(---color-header);
    color: var(---color-white);
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: var(---color-white);
    padding:6px 10px;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 20px;
}

li {
    padding:5px;
}


#intestazione {
    background-image: url('../img/jumbo.png');
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenuto-intestazione {
    max-width: 800px;
    text-align: center;

}

#intestazione .container {
    min-height: 500px;
}



/*main*/

.grigio {
    background-color: var(---color-lightgray);
}

main section {
    padding: 60px 0;
}

/*footer*/
footer{
    background-color: var(---color-black);
    color: var(---color-white);
    
}

.info {
    color: var(---color-info);
}

